        html, body 		{ margin: 0; padding: 0; }
		body 			{ color: #333; font: 16px Arial, sans-serif; line-height: 24px; }
		h2				{ color: #333; }
		a				{ color: #337810; }
		p				{ margin: 0 0 18px; }
        .left           { float:left; text-align: left; }
        .right          { float:right; text-align: right; }
        .clear          { clear: both; }
		#container		{ width: 1100px; margin: 0 auto; }
        #printcontainer { width: 1100px; margin: 0 auto; padding: 50px;}
		
		/* Header */
		#header			{ background: #eee; border-bottom: 2px solid #ddd; }
		#header h1  	{ color: #004536; margin: 0 0 3px; padding: 24px 18px 0; }
		#header p		{ color: #666; font-size: 11px; font-weight: bold; padding: 0 18px; }
		
		/* Content Style */
		#content		{ border-bottom: 1px solid #ccc; margin-bottom: 18px; margin-left: 10px; padding-bottom: 8px}
		#content p      { padding-right: 8px; }
        
        #navigation     { background: #11334D; clear: both; }
		#navigation a   { color: #eee; text-decoration:none;}
		#navigation ul  { list-style: none; margin: 0 5px 6px; padding: 10px 0 10px; }
		#navigation li  { display: inline; font-size: 11px; font-weight: bold; padding: 0 12px 0 8px; border-right: 1px solid #FFFFFF}
        #navigation ul li:last-child { border-right: none; }
        
        #menu           {font: 15px Arial, sans-serif; line-height: 18px;}
        #menu ul	    { cursor:pointer; list-style: none; margin:0px; padding: 0px}
        #menu ul a      { background: #004b6f; color: #eee; display: block; line-height: 18px; padding: 7px 5px; }
        #menu ul ul     { display:none;}
        #menu ul ul a   { background: #3F7993; color: #eee; padding: 7px 15px; }
        #menu ul ul ul a { background: #eee; color: #353535; padding: 7px 7px 7px 25px; }
        #menu a:hover   { background: #002536; color: #eee; }
        #menu .active   { font-weight:bold; }
        
        #footer			{ background: #081C2E; border-bottom: 2px solid #999; clear: both; font: 12px Arial}
		#footer a		{ color: #eee; }
		#footer	p		{ color: #ccc; margin: 0; padding: 10px 18px 10px; }
        
        .thinblock       { padding: 10px 0 10px; }
        
        .solvedprob     { }
        .solvedprob ul  { cursor:pointer; list-style: none; margin-bottom: 30px; padding: 0px;}
        .solvedprob ul ul { display:none; margin-top: 30px}
        .solvedprob ul a { background: #F4F4F4; color: #353535; padding: 7px 15px; border: 1px solid #8E8E8E}
        
        .extendlist           { line-height: 33px; text-decoration:underline}
        .extendlist ul	  { cursor:pointer; list-style: none; margin:0px; padding: 0px}
        .extendlist ul a      { padding: 7px 5px; }
        .extendlist ul ul     { display:none;}
        .extendlist ul ul a   { padding: 7px 40px; }
        
        .video          { }
        .video ul       { cursor:pointer; list-style: none; padding: 0px}
        .video ul ul    { display:none; margin-top: 20px; }
       		
		/* Content Positioning and Size */
		#menu           { float: left; width: 250px; }
		#content		{ float: right; width: 800px; }
        
        .demo-container {
        	box-sizing: border-box;
        	width: 600px;
        	height: 450px;
        	padding: 20px 15px 15px 15px;
        	margin: 15px auto 30px auto;
        	border: 1px solid #ddd;
        	background: #fff;
        	background: linear-gradient(#f6f6f6 0, #fff 50px);
        	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
        	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
        	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
        	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
        	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        }

        .demo-placeholder {width: 100%; height: 100%; font-size: 14px; line-height: 1.2em; }
        
        #placeholder .button { position: absolute; cursor: pointer; }

	    #placeholder div.button { padding: 0px; }

        .legend table { border-spacing: 5px; }
		
        .link_button { background:none; color:#337810; border: none; cursor: pointer;}

        label {display: inline-block; width: 5em; }

#printButton { cursor: pointer; }
.mobile { display: none; }
.no_mobile { display: block; }
